<html>
	<head>
	</head>
	<body>
		<h1>the Customer system</h1>
		#foreach($customer in $model)
			$customer.firstName $customer.lastName - $customer.age - [<a href="/VAction_Demo/customer/deleteCustomer?id=$customer.id">Delete</a>]
			<br />
		#end
		<br />
		View list as <a href="/VAction_Demo/customer/dumpCustomers" target="_blank">json</a>!
		<hr />
		<form action="/VAction_Demo/customer/addCustomer" method="post">
			<label for="firstName">First name:</label> <input type="text" name="firstName" /><br />
			<label for="lastName">Last name:</label><input type="text" name="lastName" /><br />
			<label for="age">Age:</label> <input type="text" name="age" /><br />
			<input type="submit" value="add Customer" /><br />
		</form>
	</body>
</html>